// vim: ft=sass ts=2 sts=2 sw=2 et

@import "base"

window {
  width: 444px;
}

mainbox {
  children: [inputbar];
}

entry {
  placeholder: "sudo";
}

entry {
  margin: 0;
}

prompt {
  margin: 0 10 0 0;
}
