// vim: ft=sass ts=2 sts=2 sw=2 et

@import "base"

configuration {
  show-icons: true;
  display-window: "  ";
}

window {
  width: 1200px;
}

listview {
  lines: 10;
}

entry {
  placeholder: "Window...";
}

