.DS_Store
*secret*
*.log
tmp/
bin/.*.sh
bin/x-*

config/alacritty/alacritty.toml
config/ghostty/config

config/tmux/plugins/

config/vim/*
!config/vim/colors

config/Code/*
!config/Code/User/
config/Code/User/*
!config/Code/User/settings.json
