.DS_Store
*secret*
*.log*
tmp/
bin/.*.sh
bin/x-*
bin/*tbx*

config/alacritty/alacritty.toml
config/ghostty/config

config/tmux/plugins/

config/vim/*
!config/vim/colors

config/Code/*
!config/Code/User/
config/Code/User/*
!config/Code/User/settings.json
config/gtk-3.0/bookmarks
