[Unit]
Description=Cliphist clipboard watcher (wl-paste)

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --watch /usr/bin/cliphist store
Restart=always
RestartSec=3
Environment=PATH=/usr/local/bin:/usr/bin

[Install]
WantedBy=default.target
