/* vim: ft=sass ts=2 sts=2 sw=2 et */

@import "colors.css";

* {
  font-family: GeistMono Nerd Font;
  font-size: 1.2rem;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  /* background-color: rgba(31, 32, 44, 0.72); */
}

#custom-rofilauncher,
#workspaces,
#pulseaudio,
#backlight,
#network,
#memory,
#temperature,
#cpu,
#bluetooth,
#clock,
#battery,
#custom-lang,
#custom-lock,
#custom-hypridle,
#power-profiles-daemon,
#custom-power {
  /* background-color: @surface0; */
  /* background-color: rgba(31, 32, 44, 0.72); */
  padding: 6px 9px;
  margin: 0px 3px;
  border-radius: 12px;
  background-color: shade(@surface0, 0.8);
}

#cpu {
  color: @sky;
}

#temperature {
  color: @mauve;
}

#temperature.critical {
  color: @red;
}

#memory {
  color: @rosewater;
}

#workspaces button {
  color: @lavender;
  border-radius: 12px;
  padding: 0 12px;
  margin: 0 3px;
  border-radius: 21px;
}

#workspaces button.active {
  color: @base;
  font-weight: 700;
  padding: 0 18px;
  background-color: shade(@lavender, 0.93);
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  color: @base;
  padding: 0 18px;
  background-color: shade(@peach, 0.93);
  transition: all 0.2s ease-in-out;
}

#bluetooth.on {
  color: @blue;
}

#bluetooth.off {
  color: @surface0;
}

#bluetooth.connected {
  color: @green;
}

#network.wifi {
  color: @blue;
}

#network.disconnected {
  color: @subtext0;
}

#clock {
  color: @sky;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @teal;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#backlight {
  color: @subtext1;
}

#pulseaudio {
  color: @maroon;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  color: @rosewater;
}

#custom-lang {
  color: @lavender;
}

#power-profiles-daemon {
  padding: 0 15px;
}

#power-profiles-daemon.performance {
  color: @sky;
}

#power-profiles-daemon.power-saver {
  color: @yellow;
}

#power-profiles-daemon.balanced{
  color: @teal;
}
